<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <style>
            body {
                margin: 0;
                font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
            }
        </style>
    </head>
    <body>
        {{ include('menu.html.twig') }}
            <h1>{% block header %}{% endblock %}</h1>
            {% block body %}{% endblock %}
    </body>
</html>
