{% extends "base.html.twig" %}

{% block breadcrumbs %}
    <a href="{{ path('contact_list') }}">Contacts</a>
{% endblock %}

{% block header %}
    {{ contact.firstName }} {{ contact.lastName }}
{% endblock %}

{% block body %}

{% endblock %}
