{% extends "base.html.twig" %}

{% block header %}
    Contacts
{% endblock %}

{% block body %}
    <ul>
        {% for contact in contacts %}
            <li>{{ contact.first_name }} {{ contact.last_name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
