{% extends "base.html.twig" %}

{% block header %}
    Contacts
{% endblock %}

{% block body %}
    <ul>
        {% for contact in contacts %}
            <li><a href="{{ path('contact_detail', { id: contact.id }) }}">{{ contact.firstName }} {{ contact.lastName }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
